* {
    font-family: 'Roboto', 'sans-serif';
}

body {
    align-content: center;
    margin: 2rem;
}

#posts-container {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaçamento entre os itens */
    padding: 20px;
    border: 2px;
    border-color: gray;
}

.post {
    width: 1000px;
    border: 1px solid #7d6fcc;
    background-color: #5d9ee4;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.1);
    content: normal;
}

::first-letter{
    text-transform: uppercase;
}

.post h2 {
    margin: 0;
    font-size: 20px;
}

.post p {
    font-size: 16px;
    align-items: center;
}

#button {
    background-color: #878591;
    border-radius: 5px;
    margin-inline-end: auto;
    
}
#btn-last-page {
    background-color: #878591;
    border-radius: 5px;
    margin-inline-end: auto;
}
